{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <table class="table table-striped" border="2">
        <thead>
        <tr>
            <th>name</th>
            <th>prix</th>
            <th>Suppression</th>

        </tr>
        </thead>
        <tbody>
        {% for produit in panier.produits %}
            <tr>
                <td>{{ produit.name }}</td>

                <td>{{ produit.prix}}</td>
                <td>
                    {#                <a class="btn btn-success" href="{{ path('supp_panier',{'id':panier.id}) }}">Supprimer</a>#}
                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>
{#    <a href="{{ path('add_commande') }}">passer une commande</a>#}
    {#{{ include('partenaire/_delete_form.html.twig') }}#}
{% endblock %}

