{% extends "baseFront.html.twig" %}

{% block body %}

    <!-- Navbar & Hero End -->

    <!-- Menu Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                <h1 class="mb-5">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                            <i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Popular</small>
                                <h6 class="mt-n1 mb-0">Breakfast</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="{{ path('app_about') }}">
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Special</small>
                                <h6 class="mt-n1 mb-0">Launch</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Lovely</small>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a>
                    </li>
                </ul>



                <div class="d-flex justify-content-end my-3 gap-3 align-items-center">
                    <label for="recherche-produit">Recherche</label>
                    <input id="recherche-produit" type="text" name="search" class="form-control w-25" />
                </div>

<div class="tab-content">
    <div id="tab-1" class="tab-pane fade show p-0 active">
        <div  class="row g-4">
        <div id="produit-div">
                        {% for produit in produits %}
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-1.jpg')}}" alt="" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>{{ produit.name }}</span>
                                            <span class="text-primary">${{ produit.prix }}</span>
                                            <a href="{{ path('ajouter_produit_panier',{id : produit.id}) }}" class="btn btn-success float-right">
                                                <i class="fas fa-shopping-cart mr-1 "></i> ajouter au panier</a>
                                        </h5>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
            <form method="post" action="{{ path('add_commande')  }}">
                <label>commandez : </label>
               <input type="submit" value="passer une commande">
            </form>
        </div>







            {% if items | length> 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                <td>{{item.produit.name}}</td>
                <td>${{ item.produit.prix }}</td>

                    <td><a href="{{ path('supprimer_produit_panier', {'id':item.produit.id}) }}"  class="btn btn-danger btn-sm" class="text-right" >supprimer</a></td>
               </tr>
            {% endfor %}
            </tbody>
               <tfoot>
               <td >Total : </td>
               <td>${{ total }}</td>
               </tfoot>
            </table>
            {% else %}
                <p>panier encore vide !</p>
            {% endif %}







            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-2.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-3.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-4.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-5.jpg')}}"alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-6.jpg')}}"alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-7.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-8.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-2" class="tab-pane fade show p-0">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-1.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-2.jpg')}}"alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-3.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-4 jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-5.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-6.jpg')}}"alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-7.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-8.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-3" class="tab-pane fade show p-0">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-1.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-2.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-3.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-4.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-5.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-6.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-7.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ asset('img/menu-8.jpg')}}" alt="" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Burger</span>
                            <span class="text-primary">$115</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Menu End -->

    <script src="../public/js/main.js"></script>
<script src="jquery.js"></script>
<script src="{{ asset('js/test.js') }}"/>


{% endblock %}

