
{% extends 'home/index.html.twig' %}
{% block title %}{% endblock %}

{% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Menu Préferé</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">

                </div>
            </nav>
        </div>
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                            <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid" src="../assetf/img/hero.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% set session_id = 1 %}



    <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-4">
                {% for menu in m %}
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <img class="flex-shrink-0 img-fluid rounded" style="height: 100px; width: 100px" src="{{ asset('uploads/menu_images/'~menu.image) }} " >
                            <div class="w-100 d-flex flex-column text-start ps-4">
                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                    <span>{{ menu.nom}}</span>
                                    <span class="text-primary"><a onclick="return confirm('are u sure?')" href="{{ path('modif_menu_pref',{'id':session_id,'id1':menu.id}) }}"><img style="height: 40px; width: 40px"src="{{asset('../assetf/img/like.png')}}" href="{{ path('modif_menu_pref',{'id':session_id,'id1':menu.id}) }}"></a></span>
                                </h5>
                                <small class="fst-italic">{{menu.descp}}</small>
                                <h7 class="d-flex justify-content-between border-bottom pb-2"><span class="text-primary">{{ menu.prix}}$</span>
                                </h7></div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
{% endblock %}
