
{% extends 'base.html.twig' %}
{% block title %}Hello MenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  <div class="example-wrapper">
      <a href="{{ path("addMenu") }}" >Add Menu </a>
      <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
      <form class="form-inline d-none d-sm-inline-block">
          <input type="text" id="search" class="form-control form-control-no-border mr-sm-2" placeholder="Rechercher">
      </form>
      <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                    <thead>
                    <tr>    
                        <th onclick="sortTable(0)">nom</th>
                        <th onclick="sortTable(1)">Categorie</th>
                        <th onclick="sortTable(2)">descreption</th>
                        <th>image</th>
                        <th onclick="sortTable(4)">prix</th>
                        <th>Modification</th>
                        <th>Suppression</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for menu in m %}
                        <tr>
                           
                          <td>{{ menu.nom}}</td>
                         {# <td>{{ menu.cat.nom}}</td> #}
                          <td>{{ menu.descp}}</td>


                            <td><img style="height: 100px; width: 100px" src="{{ asset('uploads/menu_images/'~menu.image) }}" ></td>
                            <td>{{ menu.prix}}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('modif_menu',{'id':menu.id}) }}">Modifier</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{{ path('supp_menu',{'id':menu.id}) }}">Supprimer</a>
                            </td>
                        </tr>

                    {% endfor %}


    </table>
      <a class="btn btn-danger" href="{{ path('pdf')}}">PDF</a>
      </div>
</div>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("tableac");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount ++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
{% endblock %}
